body { 
 background-image: radial-gradient(gray, black);
 padding: 1rem; 
 width: 300px; 
}

input {

	border-radius: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

#btn_clear {
	color: rgba(200, 0, 0, 1);
}

#expression {
	padding-left: 15px;
	font-size: 18px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
	margin-left: -15px;
}

#result {
	padding-left: 15px;
	font-size: 18px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
	margin-left: -15px;
}

#buttons {
	width: 20px;
}